.container{
    width :100vw;
    height: 100vh;
    display:grid;
    grid-template-areas:
    "s m m m"
    "s m m m"
    "s m m m"
    "s m m m"
    "s m m m"
    "s m m m"
    "s m m m"
    "s m m m"
    "s m m m"
    "s m m m"
    "s m m m"
    "s m m m"
    "s m m m"
    "s m m m"
    "s m m m"
    "s m m m"
    "s m m m"
    "s m m m"
    "s m m m"
    "s m m m"
    "s m m m"
    "s m m m"
    "s m m m"
    "s m m m"
    "s m m m"
    "s m m m"
    "s m m m"
    "s f f f"
}

#side-bar{
    grid-area: s;
    background-color: blueviolet;
    display:grid;
    grid-template-rows: repeat(10, 1fr);
}

.headline{
    justify-self: center;
    align-self: center;
    font-family:sans-serif;
}

.friend{
    background-color:#B191B6 ;
    margin-top: 10px;
    padding:5px;
    font-family: 'Prompt', sans-serif;
    align-self: center;
    text-align: center;
}


#main{
    grid-area: m;
    background-color: silver;
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
}

.message{
    display: table;
    width: fit-content;
    padding: 10px;
    font-family: 'Indie Flower', cursive;
    font-size: 22px;
    border-radius: 20px;
}

.p1{
    background-color: cadetblue;
}
.time{
    display: inline;
}
.p2{
    background-color: coral;
    justify-self: flex-end;
}



#footer{
    grid-area: f;
    background-color: white;
    display:grid ;
    grid-template-columns: 4fr 1fr;
}

#send{
    background-color: blueviolet;
    font-family: sans-serif;
}